<form action="/login" method="POST">

        
        <Label for="username">Username:</Label>
        <input id="username" type="text" name="username">
        <br>
        <Label for="password">Password:</Label>
        <input id="password" type="password" name="password">
        <br>
        <% if @failed %>
            <p class="danger">Your username/password combination was incorrect</p>
        <% end %>
        <br>
        <input type="submit" value="Login">
        

</form>
