  <h2>Sam's Taps & Abs Gym</h2>
  

  <br>
  <h4>Welcome to Sam's Tabs & Abs Gym where your client can workout, then socialize with their friends over a beer all in one place!</h4>
  <br>
  <h4>If you have an account please <a href="/login">Log In</a>, otherwise please <a href="/signup">Signup</a></h4>
